<nav class="menu">
  <a routerLink="/roman-kingdom">{{ 'menu.romanKingdom' | translate }}</a>
  <a routerLink="/roman-republic">{{ 'menu.romanRepublic' | translate }}</a>
  <a routerLink="/principate">{{ 'menu.principate' | translate }}</a>
  <a routerLink="/dominate">{{'menu.dominate' | translate }}</a>
  <a routerLink="/fall-of-western-roman-empire">{{'menu.fallOfWesternRomanEmpire' | translate }}</a>
  <a routerLink="/byzantine-empire">{{'menu.byzantineEmpire' | translate }}</a>
  <a routerLink="/quiz">{{'menu.quiz' | translate }}</a>
</nav>
<hr>
<router-outlet></router-outlet>